In [1]:
pip install kagglehub

Requirement already satisfied: kagglehub in c:\anaconda3\lib\site-packages (0.3.11)
Requirement already satisfied: packaging in c:\anaconda3\lib\site-packages (from kagglehub) (23.2)
Requirement already satisfied: pyyaml in c:\anaconda3\lib\site-packages (from kagglehub) (6.0.1)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kagglehub) (2.32.2)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from kagglehub) (4.66.4)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda3\lib\site-packages (from requests->kagglehub) (2024.8.30)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from tqdm->kagglehub) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install kaggle

Requirement already satisfied: kaggle in c:\anaconda3\lib\site-packages (1.7.4.2)
Requirement already satisfied: bleach in c:\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: certifi>=14.05.14 in c:\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: charset-normalizer in c:\anaconda3\lib\site-packages (from kaggle) (2.0.4)
Requirement already satisfied: idna in c:\anaconda3\lib\site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in c:\anaconda3\lib\site-packages (from kaggle) (3.20.3)
Requirement already satisfied: python-dateutil>=2.5.3 in c:\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in c:\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: setuptools>=21.0.0 in c:\anaconda3\lib\site-packages (from kaggle) (69.5.1)
Requirement already satisfied: six>=1.10 in c:\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: text-unidecode in c:\anaconda3\lib\site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: urllib3>=1.15.1 in c:\anaconda3\lib\site-packages (from kaggle) (2.2.2)
Requirement already satisfied: webencodings in c:\anaconda3\lib\site-packages (from kaggle) (0.5.1)
Requirement already satisfied: packaging in c:\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: colorama in c:\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import os
from kaggle.api.kaggle_api_extended import KaggleApi

# Set your Kaggle API key path (only if not in default location)
# os.environ['KAGGLE_CONFIG_DIR'] = "D:/Coding/Kaggle"  # where kaggle.json is placed

# Set download location
download_dir = "D:/Coding/Repo/E-Commerce-Purchases-Data-Cleaning-Time-Series-Analysis"
os.makedirs(download_dir, exist_ok=True)

# Authenticate and download
api = KaggleApi()
api.authenticate()
api.dataset_download_files('utkarsharya/ecommerce-purchases', path=download_dir, unzip=True)

print(f"✅ Dataset downloaded to: {download_dir}")

Dataset URL: https://www.kaggle.com/datasets/utkarsharya/ecommerce-purchases
✅ Dataset downloaded to: D:/Coding/Repo/E-Commerce-Purchases-Data-Cleaning-Time-Series-Analysis

In [2]:
import pandas as pd 
import numpy as np

In [3]:
file_path = os.path.join(download_dir, "Ecommerce Purchases")
df = pd.read_csv(file_path)

In [4]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [5]:
df.shape

(10000, 14)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [7]:
df.duplicated().sum()

0

## Missing Values Handling

In [8]:
#  check for missing values.
df.isnull().sum()

Address             0
Lot                 0
AM or PM            0
Browser Info        0
Company             0
Credit Card         0
CC Exp Date         0
CC Security Code    0
CC Provider         0
Email               0
Job                 0
IP Address          0
Language            0
Purchase Price      0
dtype: int64

In [9]:
#Count how many rows have at least one missing value.

df.isnull().any(axis=1).sum()

0

In [10]:
# Drop all rows with any missing values.
df_dropna_rows=df.dropna(how='any',axis=0)
df_dropna_rows.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
518,"8924 Thomas Drive Suite 510\nNelsonmouth, NC 6...",88 Rl,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_4...,"Gordon, Leblanc and Rice",3337509951246097,09/23,417,VISA 16 digit,joann88@gmail.com,Educational psychologist,116.77.76.94,fr,48.85
2744,"7855 Bell Cape\nPort Joeborough, TX 10064-8209",54 VB,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Robertson, Williams and Morton",349136288401476,11/16,616,VISA 16 digit,christopher29@gmail.com,"Engineer, production",42.218.157.52,el,36.48
8225,"96541 Reid Cape\nTaylorland, SC 95137-3803",12 QX,PM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_2 like M...,Flores LLC,869963127859295,04/19,841,Maestro,kristinarobles@rose.com,Immigration officer,165.198.238.163,zh,5.24

In [11]:
# Drop columns with all missing values.
df_dropna_col=df.dropna(how='all',axis=1)
df_dropna_col.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
4933,"31539 Thomas Circle\nSouth Monica, MP 60435",55 hG,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_7;...,Hernandez-Higgins,4641928942678,09/19,740,JCB 16 digit,scott97@yahoo.com,Physiotherapist,126.86.26.70,el,78.46
7103,"37030 Terri Orchard\nLake Ginaview, WA 06615-1392",15 Ao,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6...,"Johnson, Kramer and Smith",3088397087539796,12/20,27,VISA 16 digit,kathy35@cline.com,Academic librarian,211.239.125.235,es,29.55
640,"240 Rivers Extensions\nLaurabury, NH 05153-2085",78 KK,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_2) A...,Stout PLC,342018579460782,12/17,432,JCB 15 digit,rodriguezsabrina@hotmail.com,"Engineer, civil (consulting)",87.10.139.217,it,82.50

In [12]:
# Fill missing numeric values with the median.
df_fillnum_median = df.copy()
numeric_cols = df_fillnum_median.select_dtypes(include='number').columns
df_fillnum_median[numeric_cols] = df_fillnum_median[numeric_cols].fillna(df_fillnum_median[numeric_cols].median())

In [13]:
# Fill missing string values with the mode.
df_fillstr_mode = df.copy()
string_cols = df_fillstr_mode.select_dtypes(include='object').columns
for col in string_cols:
    mode_val = df_fillstr_mode[col].mode()[0]
    df_fillstr_mode[col].fillna(mode_val, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_25004\3994485213.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_fillstr_mode[col].fillna(mode_val, inplace=True)

In [14]:
# Forward fill missing values.
df_ffill=df.fillna(method='ffill')

C:\Users\hp\AppData\Local\Temp\ipykernel_25004\2534307288.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_ffill=df.fillna(method='ffill')

In [15]:
# Backward fill missing values.

df_bfill = df.fillna(method='bfill')

C:\Users\hp\AppData\Local\Temp\ipykernel_25004\2897107652.py:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df_bfill = df.fillna(method='bfill')

In [16]:
# Interpolate missing numeric values.
df_interp = df.copy()
df_interp[numeric_cols] = df_interp[numeric_cols].interpolate()

In [17]:
# Identify columns with the highest % of missing data.

df_missing_percent=df.isnull().mean().sort_values(ascending=False) * 100
df_missing_percent

Address             0.0
Lot                 0.0
AM or PM            0.0
Browser Info        0.0
Company             0.0
Credit Card         0.0
CC Exp Date         0.0
CC Security Code    0.0
CC Provider         0.0
Email               0.0
Job                 0.0
IP Address          0.0
Language            0.0
Purchase Price      0.0
dtype: float64

###  Time Series Handling

In [18]:
# Convert Purchase Time to pandas datetime.

# Simulating a dummy time column using AM/PM and a fixed hour
df['Purchase Time'] = pd.to_datetime(df['AM or PM'] + ' 12:00', format='%p %I:%M')

df[['Purchase Time']]

           Purchase Time
0    1900-01-01 12:00:00
1    1900-01-01 12:00:00
2    1900-01-01 12:00:00
3    1900-01-01 12:00:00
4    1900-01-01 00:00:00
...                  ...
9995 1900-01-01 12:00:00
9996 1900-01-01 00:00:00
9997 1900-01-01 00:00:00
9998 1900-01-01 12:00:00
9999 1900-01-01 00:00:00

[10000 rows x 1 columns]

%p = AM or PM

%I = Hour (12-hour format)

%M = Minute

In [19]:
# Extract the hour of purchase.

df['Hour'] = df['Purchase Time'].dt.hour

df.sample(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Purchase Time,Hour
6910,Unit 3153 Box 2877\nDPO AP 51048,27 vM,AM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5311...,Anderson Group,5190608852774685,01/24,73,JCB 16 digit,susan70@yahoo.com,Facilities manager,104.57.72.101,pt,99.12,1900-01-01 00:00:00,0
7231,"4607 Burke Port\nCarolville, MS 82355-1098",84 zx,PM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Daniels-Hahn,210098512853326,01/25,507,JCB 16 digit,fhernandez@yahoo.com,"Therapist, drama",239.251.96.61,zh,92.29,1900-01-01 12:00:00,12
8145,"5386 Garcia Parkway\nSouth Sethland, NH 29059-...",30 nA,AM,Opera/8.35.(X11; Linux x86_64; en-US) Presto/2...,Riley-Melendez,4439912754728417,01/25,322,VISA 16 digit,thomasvincent@hotmail.com,"Surveyor, rural practice",44.122.207.167,es,3.54,1900-01-01 00:00:00,0
7659,"854 Spencer Stream Apt. 431\nJoshuabury, VA 84...",59 kM,PM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,"Anderson, Salazar and Huber",4443166285577918,02/20,240,VISA 16 digit,nroberts@morales.com,Software engineer,201.8.30.4,fr,95.09,1900-01-01 12:00:00,12
6055,"4718 Stevens Ferry Suite 421\nEast Vanessa, SC...",61 Ug,AM,Opera/8.89.(Windows NT 6.0; sl-SI) Presto/2.9....,Lewis PLC,3528271825745767,12/17,578,VISA 13 digit,tammytaylor@ortega.com,Primary school teacher,131.40.137.114,ru,53.96,1900-01-01 00:00:00,0

In [20]:
# Extract the day of the week from the timestamp.
df['Day of Week'] = df['Purchase Time'].dt.day_name()

In [21]:
# Find how many purchases were made in the evening (after 6PM).
evening_purchases = df[df['Hour'] < 12]
evening_purchases.shape[0]

4932

In [22]:

# Find purchases made on weekends.
weekend_purchases = df[df['Day of Week'].isin(['Saturday', 'Sunday'])]

In [23]:
# Create a new column Purchase Month.

df['Purchase Month'] = df['Purchase Time'].dt.month_name()

In [24]:
# Find the earliest and latest purchase dates.
earliest = df['Purchase Time'].min()
latest = df['Purchase Time'].max()

print(earliest)
print(latest)

1900-01-01 00:00:00
1900-01-01 12:00:00

In [25]:
# Calculate time difference between the first and last purchase.
time_diff = latest - earliest

time_diff

Timedelta('0 days 12:00:00')

In [26]:
# Group purchases by day.
purchases_by_day = df.groupby(df['Purchase Time'].dt.date).size()

In [27]:

# Resample the purchases by month and count.

# Not meaningful here with fixed dummy timestamp, but syntax:
# df.set_index('Purchase Time').resample('M').size()

### String Operations

In [28]:
# Get unique email domains (like gmail.com).
df['domains']=df['Email'].apply(lambda x:x.split('@')[1])
unique_domain=df['domains'].unique()
unique_domain

array(['yahoo.com', 'reed.com', 'morales-harrison.com', ...,
       'sherman.biz', 'wise-liu.com', 'wade-garner.com'], dtype=object)

In [29]:
# Find how many users have “.edu” emails.
edu_count = df[df['Email'].str.contains('.edu')].shape[0]
edu_count

8

In [30]:
# Filter rows where Job Title contains “engineer”.
engineers=df[df['Job'].str.contains('engineer',case=False)]
engineers

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,Purchase Time,Hour,Day of Week,Purchase Month,domains
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,1900-01-01 12:00:00,12,Monday,January,reed.com
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,1900-01-01 12:00:00,12,Monday,January,olson-robinson.info
50,"41159 Michael Centers\nAdamsfort, RI 37108-6674",46 Ce,PM,Mozilla/5.0 (Windows 98; Win 9x 4.90; sl-SI; r...,"Wright, Williams and Mendez",4008586485908075,05/19,945,JCB 16 digit,susanvalentine@obrien.org,Mechanical engineer,213.203.143.215,de,36.85,1900-01-01 12:00:00,12,Monday,January,obrien.org
55,"27635 Maureen Bypass Apt. 883\nSandraview, SD ...",59 LJ,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,Sims-Lyons,3158113629128344,09/19,857,VISA 16 digit,adkinsarthur@yahoo.com,"Engineer, broadcasting (operations)",227.235.89.210,pt,48.74,1900-01-01 00:00:00,0,Monday,January,yahoo.com
60,"7126 Katherine Squares\nPerkinsview, CO 97299-...",63 qu,AM,Opera/8.68.(X11; Linux x86_64; en-US) Presto/2...,Marshall-Fernandez,349767747049645,05/20,672,JCB 15 digit,sweeneyhannah@jones.biz,"Engineer, agricultural",197.144.142.102,de,20.43,1900-01-01 00:00:00,0,Monday,January,jones.biz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4762924304307,03/17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89,1900-01-01 00:00:00,0,Monday,January,gmail.com
9952,"9991 Vaughn Hills\nRacheltown, PA 55409",36 KC,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,"Ward, Smith and Castillo",6011679271321726,09/19,964,Voyager,jonesjennifer@olson.com,"Engineer, energy",116.228.12.42,es,39.63,1900-01-01 12:00:00,12,Monday,January,olson.com
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76,1900-01-01 12:00:00,12,Monday,January,hotmail.com
9977,"02182 Keith Expressway\nEast Shannon, CT 20578...",34 RL,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Deleon, Jacobson and Benton",4186094003664688,06/21,397,JCB 16 digit,daltoncarter@yahoo.com,Biomedical engineer,146.238.118.2,fr,94.93,1900-01-01 00:00:00,0,Monday,January,yahoo.com
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63,1900-01-01 00:00:00,0,Monday,January,hotmail.com

In [31]:
# Create a new column: IsSenior → True if job title contains “Senior”.

df['IsSenior']=df['Job'].str.contains('Senior',case=False)

df[df['IsSenior']==True].shape[0]

9

In [32]:
# Extract the username part of the email (before '@').

df['Email Username'] = df['Email'].apply(lambda x: x.split('@')[0])
df['Email Username']

0                 pdunlap
1               anthony41
2               amymiller
3                 brent16
4       christopherwright
              ...
9995               iscott
9996               mary85
9997              tyler16
9998       elizabethmoore
9999           rachelford
Name: Email Username, Length: 10000, dtype: object

In [33]:
# Count how many users use Yahoo as email provider.
yahoo_users = df[df['domains'].str.contains('yahoo.com', case=False)].shape[0]
yahoo_users

1616

In [34]:
# Convert all job titles to lowercase.

df['Job Lowercase'] = df['Job'].str.lower()
df.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Language,Purchase Price,Purchase Time,Hour,Day of Week,Purchase Month,domains,IsSenior,Email Username,Job Lowercase
8981,"08481 Clayton Light\nSouth Jessica, NH 98066",76 Is,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Fox, Parsons and Rogers",4731372433670404,02/18,2284,JCB 16 digit,tflores@brown-mckay.com,...,zh,77.25,1900-01-01 00:00:00,0,Monday,January,brown-mckay.com,False,tflores,recycling officer
2332,"230 Amanda Mission Suite 049\nLake James, MI 0...",63 rd,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,"Hernandez, Lynch and Brown",5116725520308109,07/17,545,Voyager,tylerjimenez@duffy.com,...,zh,58.73,1900-01-01 00:00:00,0,Monday,January,duffy.com,False,tylerjimenez,automotive engineer
6935,"8352 Powell Inlet\nThompsonfort, MI 28048",93 gt,PM,Opera/9.74.(X11; Linux i686; sl-SI) Presto/2.9...,Frank-Wilson,6011324120582497,03/21,54,JCB 16 digit,robert95@yahoo.com,...,en,4.15,1900-01-01 12:00:00,12,Monday,January,yahoo.com,False,robert95,rural practice surveyor

In [35]:
# Replace spaces in job titles with underscores.

df['Job Underscore'] = df['Job'].str.replace(' ', '_')
df.sample(3)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Purchase Price,Purchase Time,Hour,Day of Week,Purchase Month,domains,IsSenior,Email Username,Job Lowercase,Job Underscore
4334,"85984 Juan Springs\nLake Ellenburgh, HI 71351-...",95 eK,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows CE;...,"Rich, Brown and Gonzalez",4929500462895946,05/23,127,Discover,patriciacox@smith-kim.com,...,4.71,1900-01-01,0,Monday,January,smith-kim.com,False,patriciacox,"engineer, automotive","Engineer,_automotive"
7119,"514 Alexis Row Suite 224\nMicheleville, ME 68468",44 lm,AM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...,"Harris, Schmidt and Wilson",3158824259270400,04/18,816,JCB 16 digit,rneal@moyer.biz,...,5.62,1900-01-01,0,Monday,January,moyer.biz,False,rneal,warden/ranger,Warden/ranger
4749,"406 Nicole Centers Suite 936\nHarrisonmouth, O...",27 UN,AM,Opera/9.82.(X11; Linux i686; it-IT) Presto/2.9...,"Mann, Howard and Ferguson",180000991178379,10/16,69,Diners Club / Carte Blanche,julie38@hotmail.com,...,40.22,1900-01-01,0,Monday,January,hotmail.com,False,julie38,marine scientist,Marine_scientist

In [36]:
#Check if all emails are valid (contain '@').
df['Valid Email'] = df['Email'].apply(lambda x: '@' in x)
valid_email_check = df['Valid Email'].all()
valid_email_check

True

In [37]:
#Create a column EmailDomainLength.
df['EmailDomainLength'] = df['domains'].apply(len)
df.sample(5)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,...,Hour,Day of Week,Purchase Month,domains,IsSenior,Email Username,Job Lowercase,Job Underscore,Valid Email,EmailDomainLength
8043,"04204 Rice Streets\nWest Bradley, SC 72192",44 OK,PM,Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_5) A...,"Atkins, Vance and Smith",180036453818599,04/19,279,JCB 15 digit,mhuber@gmail.com,...,12,Monday,January,gmail.com,False,mhuber,"lighting technician, broadcasting/film/video","Lighting_technician,_broadcasting/film/video",True,9
1432,"512 Gabriel Fort\nSouth Paul, GA 52299-2873",02 og,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 4_0 like M...,"Wright, Wyatt and Martinez",4778996471287,09/21,684,Maestro,ttorres@gmail.com,...,0,Monday,January,gmail.com,False,ttorres,land,Land,True,9
4421,22666 Thompson Island Suite 294\nEast Mitchell...,79 fg,PM,Opera/8.25.(X11; Linux x86_64; sl-SI) Presto/2...,"Chambers, Conner and Turner",30581850558233,05/18,652,Diners Club / Carte Blanche,gadams@hotmail.com,...,12,Monday,January,hotmail.com,False,gadams,financial adviser,Financial_adviser,True,11
7542,USS Gonzalez\nFPO AE 02819,57 vI,AM,Opera/9.27.(Windows NT 5.0; it-IT) Presto/2.9....,Berry-Miles,3096155551255681,04/20,281,JCB 16 digit,brenda16@massey.biz,...,0,Monday,January,massey.biz,False,brenda16,product/process development scientist,Product/process_development_scientist,True,10
229,"895 William Way\nSandraton, AK 04608",40 fm,AM,Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...,"Russell, Lopez and Bruce",3088940701549939,10/19,765,Voyager,reyesanthony@mitchell-daugherty.com,...,0,Monday,January,mitchell-daugherty.com,False,reyesanthony,"accountant, chartered public finance","Accountant,_chartered_public_finance",True,22

### Data Type Conversion

In [41]:
# View data types of all columns.
# df.dtypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Address            10000 non-null  object
 1   Lot                10000 non-null  object
 2   AM or PM           10000 non-null  object
 3   Browser Info       10000 non-null  object
 4   Company            10000 non-null  object
 5   Credit Card        10000 non-null  int64
 6   CC Exp Date        10000 non-null  object
 7   CC Security Code   10000 non-null  int64
 8   CC Provider        10000 non-null  object
 9   Email              10000 non-null  object
 10  Job                10000 non-null  object
 11  IP Address         10000 non-null  object
 12  Language           10000 non-null  object
 13  Purchase Price     10000 non-null  float64
 14  Purchase Time      10000 non-null  datetime64[ns]
 15  Hour               10000 non-null  int32
 16  Day of Week        10000 non-null  object
 17  Purchase Month     10000 non-null  object
 18  domains            10000 non-null  object
 19  IsSenior           10000 non-null  bool
 20  Email Username     10000 non-null  object
 21  Job Lowercase      10000 non-null  object
 22  Job Underscore     10000 non-null  object
 23  Valid Email        10000 non-null  bool
 24  EmailDomainLength  10000 non-null  int64
dtypes: bool(2), datetime64[ns](1), float64(1), int32(1), int64(3), object(17)
memory usage: 1.7+ MB

In [42]:
# Convert 'CC Security Code' to string
df['CC Security Code']=df['CC Security Code'].astype(int)

In [56]:
# Convert numeric columns to float 
for i in numeric_cols:
    df[i]=df[i].astype(float)

In [57]:
# Convert boolean columns (if any) to int.
bool_cols=df.select_dtypes(include='bool').columns
for i in bool_cols:
    df[i]=df[i].astype(int)



df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 25 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Address            10000 non-null  object
 1   Lot                10000 non-null  object
 2   AM or PM           10000 non-null  object
 3   Browser Info       10000 non-null  object
 4   Company            10000 non-null  object
 5   Credit Card        10000 non-null  float64
 6   CC Exp Date        10000 non-null  object
 7   CC Security Code   10000 non-null  float64
 8   CC Provider        10000 non-null  object
 9   Email              10000 non-null  object
 10  Job                10000 non-null  object
 11  IP Address         10000 non-null  object
 12  Language           10000 non-null  object
 13  Purchase Price     10000 non-null  float64
 14  Purchase Time      10000 non-null  datetime64[ns]
 15  Hour               10000 non-null  int32
 16  Day of Week        10000 non-null  object
 17  Purchase Month     10000 non-null  object
 18  domains            10000 non-null  object
 19  IsSenior           10000 non-null  int32
 20  Email Username     10000 non-null  object
 21  Job Lowercase      10000 non-null  object
 22  Job Underscore     10000 non-null  object
 23  Valid Email        10000 non-null  int32
 24  EmailDomainLength  10000 non-null  int64
dtypes: datetime64[ns](1), float64(3), int32(3), int64(1), object(17)
memory usage: 1.8+ MB

In [ ]:
# Change CC Exp Date column to datetime (MM/YY format)
df['CC Exp Date']=pd.to_datetime(df['CC Exp Date'], format='%m%y')

In [66]:
# Split CC Exp Date into Exp_Month and Exp_Year.

df['Exp_month']=df['CC Exp Date'].dt.month_name
df['Exp_year']=df['CC Exp Date'].dt.year

In [68]:
# Create column CardType → 'Visa', 'MasterCard', etc. from first digit.

def card_type(x):
    first_digit=str(x)[0]
    if first_digit == '3':
        return 'American Express'
    elif first_digit == '4':
        return 'Visa'
    elif first_digit == '5':
        return 'MasterCard'
    elif first_digit == '6':
        return 'Discover'
    else:
        return 'Other'
    
df['card_type']=df['Credit Card'].astype(str).apply(card_type)

df[['card_type']]

             card_type
0             Discover
1     American Express
2             Discover
3             Discover
4             Discover
...                ...
9995  American Express
9996             Other
9997          Discover
9998             Other
9999              Visa

[10000 rows x 1 columns]

In [70]:
# Check memory usage before optimization.
before_opt=df.memory_usage(deep=True).sum()
before_opt

12828789

In [71]:
# Use .astype() to convert job to category.
df['Job'] = df['Job'].astype('category')

In [74]:
# Check memory usage after optimization
after_opt=df.memory_usage(deep=True).sum()
after_opt

12210531

In [75]:
# Check for any duplicated rows.
df.duplicated().sum()

0